
<div class="row">
	<div class="col-md-8 col-md-offset-2">

	<div class="img"></div>
	<p> The Intexration backend is already active, the front end still needs some polish. If you want to use the intexration system to integrate latex generated pdfs into your website,  You can always mail us
		to receive an api key. For more information and the manual, visit us on Github. If you want to run Intexration on your own server, check the manual for installation.
	</p>
	
</div>

</div>
<div class="row">
	<div class="center">
		<a href="" class="github"><i class="fa fa-envelope"></i> info[at]intexration.com</a>
		<a href="https://github.com/InTeXration/InTeXration-Docs/blob/master/manual/manual.md" class="github"> <i class="fa fa-github-alt"></i> Intexration on Github</a>
	</div>
</div>

